.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto Black', arial;
}

.App-link {
  color: black;
}

.App-topbar {
  background-color:blueviolet;
  color: black;
}
.swal-text {
  font-family: 'Roboto Black', arial;
  
}